//Extend property -it is like mixin it can inherit to another class

%extend-card {
    padding: 10px 20px;
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: rgb(237, 218, 10);
    border: 2px solid $bg-grey;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 3px$lite-color;
    // box-shadow: 1px 3px 5px 8px rgb(0 0 0/10%);
}
    
.card-container {
    display: flex;
    justify-content: space-around
}

.card {
    @extend %extend-card;
    color: $lite-color;
    .card-body {
        margin-top: 30px;
    }
}
.card1 {
    @extend %extend-card;
  color: $btn-blue;

    .card-body {
        margin-top: 30px;
    }
}